html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  color: white;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
}

button:enabled {
  cursor: pointer;
}

input {
  background: transparent;
  color: white;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-size: x-large;
}
