.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.padding-20 {
  padding: 20px;
}

.min-width-half {
  min-width: 50%;
}

.full-width {
  width: 100%;
}

.text-lg {
  font-size: large;
}

.grey-bg {
  background-color: rgb(44, 47, 51);
}

.children-vert-margin > *:not(:first-child) {
  margin-top: 10px;
}

.children-hor-margin > *:not(:first-child) {
  margin-left: 10px;
}
.green-text {
  color: green;
}

.green-border {
  border-color: green;
}

.green-bg {
  background-color: green;
}

.red-text {
  color: red;
}

.red-border {
  border-color: red;
}

.red-bg {
  background-color: red;
}

.width-200 {
  width: 200px;
}

.background-contrast {
  background-color: black;
}

.no-border {
  border: none;
}

.text-center {
  text-align: center;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.max-height-400 {
  max-height: 400px;
}

.round-border {
  border-radius: 3px;
}

.width-80-pct {
  width: 80%;
}

.text-right {
  text-align: right;
}

.pos-abs {
  position: absolute;
}

.top-zero {
  top: 0;
}

.right-zero {
  right: 0;
}

.translucent {
  opacity: 0.5;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.height-100-pct {
  height: 100%;
}

.pos-rel {
  position: relative;
}
